* {
    margin: 8px;
   
}

body {
    background-color: rgb(236, 231, 231);
    color: cadetblue;
}
    
h1 {
    background-color: rgb(209, 201, 201);
    color: rgb(5, 117, 117);
    padding-left: 5px;
    border-radius: 8px;
    text-align: center;
    font-weight: 100;
}

.navbar {
    background-color: rgb(209, 201, 201);
    height: 75px;
    border-radius: 8px;
    padding: 5px;
    line-height: 30px;
  
}

a {
    text-decoration: none;
    padding: 2px;
    border-radius: 5px;
}

li {
    list-style-type: none;
}

a:hover {
    background-color: rgb(221, 225, 229);
}

#memeimage {
    margin-right: 200px;
    width: 200px;
    height: 200px;
}

h3 {
    color: rgb(5, 117, 117);
    font-size: 20px;
    font-weight: 300;
}

h4 {
    color:  rgb(5, 117, 117);
    font-size: 20px;
    font-weight: 300;
}

footer {
    text-align: center;
    margin-right: 200px;
}